{% extends "layout.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block other_js %}
<script src="{{ url_for('static', filename = 'canvas.js') }}"></script>
<script>
</script>
{% endblock %}

{% block other_css %}
<style>
#sketchpad {
    height:300px;
    width:400px;
    border:2px solid #888;
    border-radius:4px;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
    background-image:url('static/images/meerkats-small.jpg');
    cursor: pointer;
    touch-action: pinch-zoom;
}
#clearbutton {
    font-size: 15px;
    padding: 10px;
    -webkit-appearance: none;
    background: #eee;
    border: 1px solid #888;
}
#canvas {
    padding-top:2em;
    padding-bottom:1em;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div id ="goals">
        New goals:<br>
        Implement drag and drop textboxes on canvas<br>
        <a href="https://konvajs.org/docs/sandbox/Editable_Text.html">https://konvajs.org/docs/sandbox/Editable_Text.html</a>
        Handle OCR and cleaning on backend<br>
    </div>

    <div id="canvas">    
        <canvas id="sketchpad" height="300" width="400"></canvas>
        <br>
        <input id="clearbutton" type="submit" value="Clear Sketchpad">
    </div>
    
    <div id="old">
        old goals:<br>
        pan on canvas - no best way to do it so do whatever<br>
        undo<br>
        add text over picture<br>
        choose your own picture (link only for now)<br>
        canvas proportions must change to fit pic<br>
        save picture (in tutorial)<br>
    </div>
</div>
{% endblock %}