{% extends "layout.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block other_head %}
<link rel="stylesheet" type="text/css" href="/static/fe3h.css">
<script>
    var fname = {{fname|tojson}}
    var vname = {{vname|tojson}}
</script>
<script src="/static/fe3h.js"></script>
<!-- <script src="{{ url_for('static', filename = 'fe3h.js') }}"></script> -->
{% endblock %}


{% block content %}
<div class="container">
    <div id="canvas-container">
        <div id="canvas">
            <canvas id="image-canvas"></canvas>
        </div>
    </div>
    <div id="captions">
        <input id="line1" class="line"/>
        <input id="line2" class="line" placeholder="Line 2"/>
        <input id="line3" class="line" placeholder="Line 3"/>
    </div>
    <div id="buttons-container">
        <button id="see-text">UPDATE TEXT</button>
        <a id="text-size" href="#!">switch to large text</a>
    </div>


    <div id="sel-vid">
        See all supports for <select id="dropdown" size=1/>
            <option value="Sylvain">Sylvain</option>
            <option value="Byleth-Edelgard">Byleth-Edelgard</option>
        </select>
    </div>
    <div id="time-div">
        <div id="error-msg"></div>
        <div id="time-select">
            Time of screenshot <input id="time" placeholder="00:18"/>
            <button id="submit">Submit</button>
        </div>
    </div>
    

    <div id="vid-container">      
        <img id="transparent" src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACwAAAAAEAAJAAACCoSPqcvtD6OclBUAOw==" />
        <iframe id="video" src="https://www.youtube.com/embed/tUTXN7vXTNI?mute=0&enablejsapi=1"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id="overlay"></div>
    </div> 
    <div id="spoiler-switch"></div>
    
    
    
</div>
{% endblock %}