{% extends "layout.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block other_head %}
<link rel="stylesheet" type="text/css" href="/static/fe3h.css">
<script>
    var fname = {{fname|tojson}}
</script>
<script src="/static/fe3h.js"></script>
<!-- <script src="{{ url_for('static', filename = 'fe3h.js') }}"></script> -->
{% endblock %}


{% block content %}
<div class="container">
    <div id="canvas-container">
        <div id="canvas">
            <canvas id="image-canvas" width="600" height="337.5"></canvas>
        </div>
    </div>
    <div id="captions">
        <div class="cap">Line 1: <input id="line1" class="line"></div>
        <div class="cap">Line 2: <input id="line2" class="line"></div>
        <div class="cap">Line 3: <input id="line3" class="line"></div>
    </div>
    <div id="buttons-container">
        <button id="see-text">UPDATE TEXT</button>
        <button id="text-size">switch to big text</button>
    </div>
    <div id="sel-vid">
        See all supports for: <select id="dropdown" size=1>
            <option value="1">Byleth</option>
            <option value="2">Option 2</option>
        </select>
    </div>
    <div id="time-div">
        <div id="error-msg"></div>
        <div id="time-select">
            Select time for screenshot <i>(ex: 3:14)</i>: <input id="time"/>
            <button id="submit">Submit</button>
        </div>
    </div>
    

    <div id="vid-container">        
        <img id="transparent" src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACwAAAAAEAAJAAACCoSPqcvtD6OclBUAOw==" />
        <iframe id="video" src="https://www.youtube.com/embed/L_-7jrLftjQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> 
    
</div>
{% endblock %}